body {
  font-size: 1.5em;
  counter-reset: my-badass-counter;
}

ul {
  list-style: none;
}

img {
  float: left;
  height: 70px;
}

.doctor_item {
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  padding: 15px;
  border: 3px solid black;
  border-radius: 2px;
}

.doctor_counter {
  top: 20px;
}