body {
  font-size: 1.5em;
  padding: 5px;
}

.container {
  width: 100%;
  height: 900px;
}

ul {
  list-style: none;
  padding-left:15px;
}

#map {
  display: block;
  border: 25px solid #ADD8E6;
  border-radius: 3px;
  outline: black solid 3px;
  padding: 0;
  margin-left: 3px;
  margin-right: 16px;
}

#map img {
  width: 100%;
  height: 200px;
  border: 3px solid black;
  border-radius: 3px;
}

.doctor_img {
  float: left;
  height: 65px;
}

.doctor_item {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
  display: inline-block;
  padding: 15px;
  border: 3px solid black;
  border-radius: 2px;
}

.doctor_info {
  padding-left:25px;
}
.doctor_counter {
  top: 20px;
}